.navbarcrud {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 150px;
}

.navbarcruditems {
  display: flex;
  justify-content: space-between;
  width: 600px;

  padding: 10px;
}

.cerrar {
  background-color: brown;
}

.butt {
  background-color: rgb(42, 89, 165);
}
